# Ansible variables
ANSIBLE_PROXMOX_URL="https://your-proxmox-node:8006/"
ANSIBLE_PROXMOX_USER="<USER@REALM>"
ANSIBLE_PROXMOX_TOKEN_ID="<TOKEN_ID>"
ANSIBLE_PROXMOX_TOKEN_SECRET="<SECRET>"

# Packer variables
PROXMOX_URL="https://your-proxmox-node:8006/api2/json"
PROXMOX_USERNAME="<USER@REALM!TOKEN_ID>"
PROXMOX_TOKEN="<SECRET>"
PKR_VAR_private_key_file="/home/<USER>/.ssh/<PRIVATE_KEY_FILE>"

# Terraform variables
PROXMOX_VE_ENDPOINT="https://your-proxmox-node:8006/"
PROXMOX_VE_API_TOKEN="<USER@REALM!TOKEN_ID=SECRET>"