# Packer variables
PROXMOX_URL="https://your-proxmox-node:8006/api2/json"
PROXMOX_USERNAME="<USER@REALM!TOKEN_ID>"
PROXMOX_TOKEN="<SECRET>"
PKR_VAR_private_key_file="/home/<user>/.ssh/packer-build/packer-build-almalinux9"

# Terraform variables
PROXMOX_VE_ENDPOINT="https://your-proxmox-node:8006/"
PROXMOX_VE_API_TOKEN="<USER@REALM!TOKEN_ID=SECRET>"