#ansible
context/
artifacts/
ansible-navigator.log

#packer
*.pkrvars.hcl
*.auto.pkrvars.hcl
!*.pkrvars.hcl.example
!*.auto.pkrvars.hcl.example
!homelab-platform-ci-test.pkrvars.hcl

#terraform
*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
*.tfstate
*.tfstate.*
.terraform/

#env
.env
.env.*
!.env.example