#cloud-config
hostname: "${hostname}"
fqdn: "${fqdn}"
manage_etc_hosts: true

users:
  - name: ansible
    groups: 
      - wheel
    shell: /bin/bash
    lock_passwd: true
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys: 
      - "${ansible_ssh_public_key}"

ssh_pwauth: false
disable_root: true

runcmd:
  - nmcli con up "enp6s18" || true
    

