[defaults]
inventory = ./inventory/proxmox.proxmox.yml
remote_user = ansible
interpreter_python = auto_silent
retry_files_enabled = false
host_key_checking = false

[inventory]
enable_plugins = community.proxmox.proxmox, yaml, ini, auto

[privilege_escalation]
become = true
become_user = root
become_method = sudo