# Basic Kickstart configuration for MVP Packer image

text
cdrom
skipx
eula --agreed
firstboot --disable

lang en_US.UTF-8
keyboard --xlayouts='us'
timezone Europe/Paris --utc

network --bootproto=dhcp --device=link --activate --onboot=on --hostname=almalinux9-template.lab.home.arpa


# Lab-only user for initial Packer SSH validation.
rootpw --plaintext packer
user --name=packer --password=packer --plaintext --groups=wheel

authselect --useshadow --passalgo=sha512
selinux --enforcing
firewall --enabled --service=ssh

services --enabled=sshd,chronyd,firewalld,NetworkManager,qemu-guest-agent

ignoredisk --only-use=sda
zerombr
clearpart --all --initlabel --disklabel=gpt --drives=sda

# MVP storage layout. Need to work on OS disk + separate data disks managed by Terraform/Ansible
part /boot/efi --fstype=efi --size=512 --ondisk=sda
part /boot --fstype=xfs --size=1024 --ondisk=sda
part pv.01 --grow --size=1 --ondisk=sda

volgroup vg_data --pesize=4096 pv.01

logvol / --fstype=xfs --name=root --vgname=vg_data --size=12000 --grow
logvol swap --fstype=swap --name=swap --vgname=vg_data --size=2048

bootloader --location=mbr --boot-drive=sda --append="crashkernel=auto"

reboot

%packages
@^minimal-environment
# Proxmox
qemu-guest-agent

# Cloud-init
cloud-init
cloud-utils-growpart

# Remote management
openssh-server
sudo
python3
python3-libselinux

# Basic operational tools
curl
wget
rsync
tar
gzip
vim-enhanced
bash-completion

# System services
chrony
firewalld
NetworkManager

# Repo/package management
dnf-plugins-core
%end

%post --log=/root/ks-post.log

echo "packer ALL=(ALL) NOPASSWD: ALL" > /etc/sudoers.d/packer
chmod 0440 /etc/sudoers.d/packer

# Lab-test only. Not meant to be kept.
sed -i 's/^#\?PasswordAuthentication.*/PasswordAuthentication yes/' /etc/ssh/sshd_config
sed -i 's/^#\?PermitRootLogin.*/PermitRootLogin yes/' /etc/ssh/sshd_config

%end